<ol class='salvage-list'>
	<li class="salvage flexrow salvage-header">
		<div class="salvage-name">{{localize 'Name'}}</div>
		<div class="salvage-quantity">{{localize 'Quantity'}}</div>
		<div class="salvage-controls">
			<a
				class="salvage-control item-create"
				title="{{localize "DOCUMENT.Create" type="Gear"}}"
				data-type="gear"
				data-gear_type="salvage"
			>
				<i class="fas fa-plus"></i>
				{{localize "DOCUMENT.New" type="gear"}}
			</a>
		</div>
	</li>
	{{#each salvage as |item id|}}
	<li class="salvage flexrow" data-item-id="{{item._id}}">
		<div class="salvage-name flexrow">
			<div class="salvage-image"> 
				<img
					src="{{item.img}}"
					title="{{item.name}}"
					width="24"
					height="24"
				/>
			</div>
			<h4 class="flex-group-left">{{item.name}}</h4>
		</div>
		<div class="salvage-quantity">
			{{!-- Here we put a - and + button surrounding the quantity, allowing people to increase or decrease it respectively. --}}
			{{!-- Just put a clicked listener in the sheet, and increase the image quantity this way. Check how pathfinder colors on hover. it looks nice! --}}
		</div>

	</li>
	{{/each}}
</ol>
