<div class="grid grid-5col">
	{{!-- I think the grid-span-2 means that we want this div to span across two grid columns. --}}
	<div class="grid-span-3">
		<h3 class="justify-center">Edges</h2>
		<div class= "grid grid-4col">
			{{#each system.edges as |edge key|}}
			<div class="edge flexrow">
				<label class="edge-label">{{localize (concat "WILDSEA.Edge." key)}}</label>
				<div class="track-display align-center">
				{{#track 1 edge.value 0 [] false 15 (concat "edge-" key "-track-img repeated-track-img")}}
				{{/track}}
				</div>
			</div>
			{{/each}}
		</div>
		<h3 class="justify-center">Skills</h2>
		<div class="grid grid-3col">
			{{#each system.skills as |skill key|}}
			<div class="skill flexrow">
				<label class="skill-label">{{localize (concat "WILDSEA.Skill." key)}}</label>
				<div class="track-display align-center">
				{{#track 3 skill.value 0 [] false 12 (concat "skill-" key "-track-img repeated-track-img")}}
				{{/track}}
				</div>
			</div>
			{{/each}}
		</div>
		<h3 class="justify-center">Languages</h2>
		<div class ="grid grid-3col">
			{{#each system.languages as |language key|}}
			<div class="language flexrow">
				<label class="language-label">{{localize (concat "WILDSEA.Language." key)}}</label>
				<div class="track-display align-center">
				{{#track 3 language.value 0 [] false 12 (concat "language-" key "-track-img repeated-track-img")}}
				{{/track}}
				</div>
			</div>
			{{/each}}
		</div>
	</div>
	<aside class="sidebar grid-span-2">
		<h3>Aspects</h3>
		<ol class="aspects-list">
			<li class="aspect flexrow aspect-header">
				<div class="aspect-controls">
					<a
						class="aspect-control item-create"
						data-action="create"
						title="{{localize "DOCUMENT.Create" type="Aspect"}}"
						data-type="aspect"
						data-track_length="8"
						data-aspect_type="trait"
					>
						<i class="fas fa-plus"></i>
						{{localize "DOCUMENT.New" type="Aspect"}}
					</a>
				</div>
			</li>
			{{#each aspects as |item key|}}
			<li class="item flex-group-center" data-item-id="{{item._id}}">
				<div class="aspect-header flexrow">
					<h4 class="align-left aspect-name">{{item.name}}</h4>
					<h4>{{localize (concat "WILDSEA.AspectLabel." item.system.aspect_type)}}</h4>
				</div>
				<div class="aspect-notes align-left" style="display: none;">
					{{{item.system.details}}}
				</div>
				<div class="grid grid-4col">
					<div class="aspect-track grid-span-3 track-display align-left">
						{{#track item.system.track_length item.system.track_marks item.system.track_burns [] true 15 "aspect-track-img"}}
						{{/track}}
					</div>
					<div class = "item-controls">
						<a
							class="item-control item-edit align-right"
							title="{{localize "DOCUMENT.UPDATE" type="Aspect"}}"
						>
						<i class="fas fa-edit"></i>
						</a>
						<a
							class="item-control item-delete align-right"
							title="{{localize "DOCUMENT.DELETE" type="Aspect"}}"
						>
						<i class="fas fa-trash"></i>
						</a>
					</div>
				</div>
			</li>
			{{/each}}
		</div>
	</aside>
</div>
