<form class="{{cssClass}}" autocomplete="off">
	<header class="sheet-header">
		<img class="profile-img" src="{{item.img}}" data-edit="img" title="{{item.name}}"/>
		<div class="header-fields">
			<h1 class="charname"><input name="name" type="text" value="{{item.name}}" placeholder = "Name"/></h1>
		</div>
	</header>
	<section class="sheet-body">
		<div class="aspect-attributes" data-group="primary">
			<label class="aspect-attribute">Track Length</label>
			<input name="system.track_length" type="text" value="{{system.track_length}}" placeholder="Track Length Here" data-dtype="Number"/>
			<div class="description" data-group="primary" data-tab="description">
				{{editor system.notes target="system.notes" rollData=rollData button=true owner=owner editable=editable}}
			</div>
			<div class="track-display">
				{{#track system.track_length system.track_marks system.track_burns [] true 24 ""}}
				{{/track}}
			</div>
		</div>
	</section>
</form>
